<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS</title>
</head>
<body>

<form name="sms" action="/" method="GET">
    <label>通道</label> :
    <select name="channel">
        {% for chan in channel_list %}
            {% if select_channel == chan.id %}
                <option value={{chan.id}} SELECTED>{{chan.name}}</option>
            {% else %}
                <option value={{chan.id}}>{{chan.name}}</option>
            {% endif %}
        {% endfor %}
    </select>&#160;&#160;&#160;

    <label>手机</label> : <input type="text" name="to" value={{to}}>&#160;&#160;&#160;

    <label>状态</label> :
    <select name="status">
        {% if status == "0" %}
            <option value=0 SELECTED>全部</option>
            <option value=1>成功</option>
            <option value=2>失败</option>
            <option value=3>发送中</option>
        {% elif status == "1" %}
            <option value=0>全部</option>
            <option value=1 SELECTED>成功</option>
            <option value=2>失败</option>
            <option value=3>发送中</option>
        {% elif status == "2" %}
            <option value=0>全部</option>
            <option value=1>成功</option>
            <option value=2 SELECTED>失败</option>
            <option value=3>发送中</option>
        {% elif status == "3" %}
            <option value=0>全部</option>
            <option value=1>成功</option>
            <option value=2>失败</option>
            <option value=3 SELECTED>发送中</option>
        {% else %}
            <option value=0 SELECTED>全部</option>
            <option value=1>成功</option>
            <option value=2>失败</option>
            <option value=3>发送中</option>
        {% endif %}
    </select>&#160;&#160;&#160;

    <label>时间</label> : {% if _time == "" %}<input type="date" name="time">{% else %}<input type="date" name="time" value="{{ _time }}">{% endif %}&#160;&#160;&#160;

    <input type="submit" value="查询">
    <table border="1" cellpadding="3" cellspacing="0">
        <tr>
            <td>通道</td>
            <td>手机</td>
            <td>验证码</td>
            <td>状态</td>
            <td>时间</td>
        </tr>
        {% for sms in sms_list %}
            <tr>
                <td>{{ sms.channel_name }}</td>
                <td>{{ sms.to }}</td>
                <td>{{ sms.yzm }}</td>
                <td>{{ sms.description }}</td>
                <td>{{ sms.create_time }}</td>
            </tr>
        {% endfor %}
    </table>
    总共{{ total }}条数据&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    <input type="submit" name="turn_page" value="上一页">
    &#160;&#160;&#160;&#160;{{ page }}&#160;&#160;&#160;&#160;
    <input type="submit" name="turn_page" value="下一页">&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160;
    共{{ page_total }}页&#160;&#160;第<input type="text" name="page" value="{{page}}" size="1">页 <input type="submit" value="跳转">
</form>

</body>
</html>